<%- include("../partials/header") %>
<div id="showCamp" class="container">
	<div class="row">
		<div class="col-md-3" id="details">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
				<div class="list-group-item d-none d-md-block" id='map'></div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img src="<%= campground.image %>" class="card-img-top img-responsive" alt="campground">
				<div class="card-body">
					<h6 class="float-right">₹ <%= campground.price %>/night</h6>
					<h6 class="card-title"><a href=""><%= campground.name %></a></h6>
					<p class="card-text"><%= campground.description %></p>
					<p style="display: inline;">
						<em>Submitted by
							<%= campground.author.username %>,<%= moment(campground.createdAt).fromNow() %></em>
					</p>
					<div class="float-right">
						<%if(currentUser && campground.author.id.equals(currentUser._id)){ %>
						<a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-sm btn-warning ">Edit</a>
						<form class="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
							<button class="btn btn-sm btn-danger ">Delete </button>
						</form>
						<% } %>
					</div>
				</div>
			</div>

			<div id="commentBox" class="card">
				<div>
					<span>Comments</span>
					<a href="/campgrounds/<%= campground._id %>/comments/new"
						class="btn btn-sm btn-success float-right ">Add comment</a>
				</div>
				<hr class="hrStyle">
				<% campground.comments.forEach(function(comment){ %>
				<div class="col-md-12">
					<strong><%= comment.author.username %></strong>
					<span><%= moment(comment.createdAt).fromNow() %></span>
					<p><%= comment.text %></p>
					<p>Rating : <%=comment.rating %></p>
					<%if(currentUser && comment.author.id.equals(currentUser._id)){ %>
					<a class="btn btn-warning btn-sm "
						href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
					<form class="delete"
						action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE"
						method="POST">
						<button class="btn btn-danger btn-sm ">Delete</button>
					</form>
					<% } %>
					<hr class="hrStyle">
				</div>
				<% }) %>
			</div>
		</div>
	</div>
</div>

<script>
	// function htmlDecode(input) {
	// 	var e = document.createElement('div');
	// 	e.innerHTML = input;
	// 	return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
	// }
	// var campground = JSON.parse(htmlDecode("<%= JSON.stringify(campground) %>"));
	var campground = JSON.parse('<%- JSON.stringify(campground) %>');
	mapboxgl.accessToken = "<%= process.env.MAPBOX_TOKEN %>";

	var map = new mapboxgl.Map({
		container: 'map',
		style: 'mapbox://styles/mapbox/streets-v11',
		center: campground.coordinates,
		zoom: 13
	});

	// create a HTML element for our location feature
	var el = document.createElement('div');
	el.className = 'marker';
	console.log(campground.coordinates);
	// make a marker for location feature and add to the map
	new mapboxgl.Marker(el)
		.setLngLat(campground.coordinates)
		.setPopup(new mapboxgl.Popup({ offset: 25 }) // add popups
			.setHTML('<h3>' + campground.name + '</h3><p>' + campground.location + '</p>'))
		.addTo(map);
</script>

<%- include("../partials/footer") %>